.message {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid rgb(180, 175, 175);
  border-radius: 0.5em;
  max-width: 500px;
  box-shadow: 5px 8px;
  padding: 0.5em;
}

.blogs-container {
  padding: 1em 0.7em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 1rem;
}

.user-dets {
  max-width: 500px;
  padding: 1em;
}

.user-dets span {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.blog-entry {
  padding-top: 0.8em;
  padding-left: 0.2em;
  border: 1px solid gray;
  margin-bottom: 0.3em;
  max-width: 500px;
}
